<header class="header">
    <div class="logo">HeadHunter</div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            Home
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/vacancies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vacancies</a>
          </li>
        <li class="nav-item">
          <a routerLink="/companies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Companies</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/vacancies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Create Vacancy</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/cabinet" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cabinet</a>
        </li>
      </ul>
    </nav>
  </header>